/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #d3d3d3;
$link-color: orange;
$code-color: #2a2a2a; 
$code-bg: #f7faff;   
$navbar-bg: #d3d3d3;
$navbar-fg: #181818;

// Code 
$code-block-bg-alpha: -.8;
$btn-code-copy-color: yellow;
$btn-code-copy-color-active: gold;

.cell-output {
  background-color: rgba(208, 232, 242, 0.5);
  border-radius: 4px;
}

.panel-tabset .nav-item .nav-link.active {
  color: #181818; 
  background-color: rgba(255, 165, 0, 0.75); 
}